:root {
  --font: 'Poppins', sans-serif;
  --defaul-size: 16px;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --background-color: #FF7979;

  --desktop-heading-font: 50px;
  --desktop-heading-letter-spacing: -0.52px;
  --desktop-heading-line-heigth: 55px;
  --font-color: #FFF;

  --desktop-body-line-heigth: 26px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: var(--defaul-size);
  font-weight: var(--defaul-size);
  background: url(../../public/background-desktop.png) no-repeat center / cover;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  padding: 121px 165px;
  width: 100%;
  min-height: 100vh;
}