:root {
  --font: 'Poppins', sans-serif;
  --defaul-size: 16px;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-weight: var(--defaul-size);
  width: 100%;
  min-height: 100vh;
}